/* menu pgn jogos */
#icone{
	display:flex;
	position:absolute;
	flex-direction:column;

	width:18%;
	height:auto;
	padding: 10% 0px;
	z-index: 1;

	left:-7%;

	justify-content: space-around;
	align-items: center;

	background-image:url("papel_rasgado.png");
	background-repeat:no-repeat;
	background-position:right;

    transition:all 0.02s linear;
}

#icone p{
    margin-left:24%;
	font-family: 'Patrick Hand SC',sans-serif;
	font-size:25px;
	color: #222;
	font-weight: bold;
	text-shadow:1px 1px rgb(165, 165, 165);
}

.seta{
	opacity:0;
	width:20%;
	margin-left:23%;
}

.seta_menu{
    margin-left:31%;
	display:block;
	width:30%;
}

#check{
    display:none;
}

#icone:hover{
	cursor:pointer;
}

.barra .link{
	list-style: none;
}

.barra{
    display:flex;
    position:absolute;	
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

	height:auto;
    padding:13.1% 0px;
	width:18%;
    left:-300px;

}

.barra nav{
	width:100%;
	height:auto;
    padding:50% 0px;

	left:-0.4;

	position: absolute;
	display:flex;
	flex-direction: column;

	background-image: url("papel_rasgado.png");
    background-position: left;
	background-repeat: no-repeat;
}

nav a{
	text-decoration:none;

	font-family: 'Patrick Hand SC',sans-serif;
	font-size:20px;
	color: #222;
	font-weight: bold;
	text-shadow:-1px 1px rgb(16 16 16 / 39%);
}

.link{	
    display:flex;
    justify-content: space-between;
    margin-left:12%;
    top:20%;

	width:77%;
	height:auto;
	padding:6% 0;

    transition:all 0.02s linear;
	opacity:0;
	color:#222;
	font-size:24px;
} 

.link a:hover{
	cursor:pointer;
}

/* cliques */
/* ida */
#check:checked ~ #icone{
    animation-name: arrasta;
    animation-duration: 0.2s;
}

@keyframes arrasta {
	10%{
		transform:translateX(30px);
	}
    20%{
		transform:translateX(40px);
	}
    40%{
		transform:translateX(50px);
	}
	60%{
		transform:translateX(70px);
	}
	70%{
		transform:translateX(80px);
	}
    80%{
		transform:translateX(90px);
	}
    90%{
		transform:translateX(100px);
	}
	100%{
		transform:translateX(110px);
	}
}

#check:checked ~ #icone{
	z-index:3;
	padding:0;
	padding-top:7%;
	padding-left:9%;
    transition-delay: 0.3s;
	background:none;
}

#check:checked ~ #icone .seta{
	opacity:1;
	top:2%;
}

#check:checked ~ #icone .seta_menu{
	display:none;
}

#check:checked ~ .barra nav a .link{
    opacity: 1;
    margin-top: 0;
    transition-delay:0.3s;
}

#check:checked ~ .barra{
	z-index:2;
    transition-delay:0.2s;
    transform:translateX(300px);
}
/* menu pgn jogos */