/* menu pgn jogos */
#icone{
	z-index: 1;

	display:flex;
    position:absolute;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-image: url("papel_rasgado.png");
    background-position: left;
	background-repeat: no-repeat;

    height:auto;
    padding:10% 0;
    width:20%;

    top:-10%;

    transition:all 0.2s linear;
}

#icone p{
	font-family: 'Patrick Hand SC',sans-serif;
	font-size:30px;
	color: #222;
	font-weight: bold;
	text-shadow:1px 1px rgb(165, 165, 165);
}

.seta{
	opacity:0;
	width:20%;
	margin-left:23%;
}

.seta_menu{
    margin-left:31%;
	display:block;
	width:30%;
}

#check{
    display:none;
}

#icone:hover{
	cursor:pointer;
}

.barra .link{
	list-style: none;
}

.barra{
	display:flex;
    position:absolute;
    flex-direction: column;
    justify-content: space-around;
    
    background-image: url("papel_rasgado.png");
    background-position: left;
	background-repeat: no-repeat;

    height:100%;
    width:20%;
    top:-50%;
}

.barra nav{
	position: absolute;
	display:flex;
	flex-direction: column;
}

nav a{
	text-decoration:none;

	font-family: 'Patrick Hand SC',sans-serif;
	font-size:24px;
	color: #222;
	font-weight: bold;
	text-shadow:-1px 1px rgb(16 16 16 / 39%);
}

.link{	
    display:flex;
    justify-content: space-between;
    margin-left:25%;

	width:50%;
	padding:6% 0;

    transition:all 0.02s linear;
	opacity:0;
} 

.link a:hover{
	cursor:pointer;
}

/* cliques */
#check:checked ~ #icone{
    animation-name: arrasta;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: forwards;
}

@keyframes arrasta{
	from{
		top:-10%;
	}
	to{
		top:11%;
	}
}

#check:checked ~ #icone{
	z-index:3;
	background:none;
	padding:0;
}

#check:checked ~ .barra nav a .link{
    opacity: 1;
    margin-top: 0;
    transition-delay:0.3s;
    z-index:3;
}

#check:checked ~ .barra{
	z-index:2;
    animation-name:arrastaBarra;
    animation-duration: 0.3s;
   	-webkit-animation-fill-mode: forwards;
}

@keyframes arrastaBarra{
	from{
		top:-50%;
	}
	to{
		top:-31%;
	}
}

@media screen and (max-height: 1024px){
	#check:checked ~ #icone{
		z-index:3;
		background:none;
		padding:0;
		width:auto;
	}
	#check:checked ~ #icone p{
		margin-left:500%;
	}
}
/* menu pgn jogos *